%h1= @movie.title
%h3= "Rating: #{@movie.rating}"
=image_tag @movie.cover, style: "width: 100;height: 150px"
.jumbotron
  = @movie.plot
.jumbotron
  = @movie.description
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'
